/* ==========================================================================
	Mobile Fixes
	========================================================================== */

@media only screen and (min-width: 320px) and (max-width: 799px) {
	// Adjusting hero size on mobile
	.home #hero {
		.content {
			width: 100%;
			height: 250px;
		}
	}
	// Customizing homepage on large mobile
	.home .col {
		width: 100%!important;
		
		ul, ol {
			width: 100%!important;
			float: left;
			margin-bottom: 0;
		}
		ol {
			margin-bottom: 20px;
		}
		img {
			display: block;
			float: left;
			clear: left;
			width: 20%;
			height: auto;
		}
		li {
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			clear: both;
			float: left;
			
			.news-item {
				float: left;
				width: 75%;
				clear: right;
			}
		}
		& .btn {
			clear: both;
		}
		
		&.events-col {
			margin-bottom: 30px!important;
			
			.view-all-container {
				float: right;
				width: 75%;
			}
			a.view-all:link {
				margin-left: 0;
			}
			&.one {
				ol.categories {
					margin-top: -7px
				}
				li {
					width: 100%;
				}
				.item {
					float: right;
					width: 75%;
					margin-top: 0;
				}
				img {
					margin-top: 3px;
					margin-right: 10px;
				}
				.btn {
					margin-left: 130px;
				}
			}
		}	
	}
	 #tribe-events-content.col, #tribe-events .col.side.feed {
		width: 100%!important;
	}
	// Fixing homepage course columns
	.home .courses {
		li {
			width: 100%;
			float: left;
			clear: both;
			list-style: none;
			margin-left: 0;
		}
		li + li, li + li + li + li {
			margin-left: 0!important;
		}
		li + li + li {
			margin-left: 0!important;
		}
		p {
			width: 100%;
		}
	}
	// Removing bullet points from menu on mobile
	.col.side .sub-menu li {
		list-style: none;
	}
}
@media only screen and (min-width: 700px) and (max-width: 799px) {
	// Making people page two column
	.filter, .filter-title {
		display: block;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}	
	/*.people-list .person-item {
		float: none!important;
		padding: 15px 0;
		width: 50%;
		height: auto;
		text-align: left;
	}*/
	// Two columns on book archive
	.post-type-archive-books {
		article header {
			.cover {
				display: block;
				margin: 15px auto;
			}
			width: 95%;
		}
		.book-list {
			margin-top: 20px;
			clear: both;
			
			li {
				padding: 15px 0;
				margin: 0 1.5%;
				width: 30%;
				height: auto;
				text-align: center;
				float: left;
				clear: none;
			}
			.custom-cover, img {
				float: none;
				margin: 0 auto;
			}
		}
	}
}
@media only screen and (min-width: 800px) and (max-width: 960px) {
	// Adjusting hero size on mobile
	#hero {
		display: block;
		height: 280px;
	}
	.home #hero {
		.content {
			width: 100%;
			height: 280px;
		}
	}
	// Styling side menu on larger screens
	.single, .archive, .page {
		.breadcrumbs + .content {
			width: 95%;
		}
		.col {
			max-width: 65%;
			float: right;
			margin: 0 15px 0 0;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col.side {
			width: 220px!important;
			margin: 0 0 0 20px!important;
			float: left;	
		}
		.col.side.feed {
			width: 220px!important;
			margin: 0 auto;
		}
	}
	// Make homepage columns side by side
	.home {
		.col {
			width: 45%!important;
			float: left;
			margin: 0;
		}
		.col + .col {
			width: 50%!important;
			float: left;
			margin: 0 0 0 5%;
		}
		#main-content .content {
			width: 95%!important;
			max-width: 100%!important;
			margin: 0 auto;
			float: none;
		}
	}
	// Make second column look like desktop version
	.col + .col {		
		nav.page-nav {
			h3 {
				padding-bottom: 10px;
				margin: 0 0 20px 0;
				border-bottom: 2px solid $border-color;
			}
			a {
				border-top: none;
				padding: 0;
				display: block;
			}
			a:hover {
				background: none;
			}
		}
	}
	// Making People page three column
	.filter, .filter-title {
		display: block;
	}
	.archive .content header {
		text-align: center;
		width: 100%;
	}
	// Styling right column on People page
	.single-people {
		article header {
			text-align: left;
		}
		.col {
			max-width: 65%;
		}
		#main-content .content {
			max-width: 65%;
			float: left;
			margin: 0 15px;
		}
		.col + .col {
			margin-top: 0;
			width: 220px!important;
			float: right;
			
			img {
				display: block;
				width: 90%;
				height: auto;
			}
			.table-of-contents {
				display: block;
			}
		}
	}
	// Three columns on book archive
	.post-type-archive-books {
		.content header {
			width: 95%;
		}
		.book-list {
			margin-top: 20px;
			clear: both;
			
			li {
				padding: 15px 0;
				margin: 0 1.5%;
				width: 30%;
				height: auto;
				text-align: center;
				float: left;
				clear: none;
			}
			.custom-cover, img {
				float: none;
				margin: 0 auto;
			}
		}
	}
	// Styling two column book page
	.single-books {
		.content header {
			.cover {
				display: none;
				margin: 15px auto;
			}
		}
		.col + .col {
			float: right;
			width: 220px!important;
			margin-right: 0;
			
			.cover {
				display: block;
				width: 190px;
				height: auto;
				margin: 0 auto;
			}
			.custom-cover.cover {
				width: 160px;
				height: 205px;
			}
			.custom-cover .title {
				font-size: 1.2em;
				line-height: 1em;
				text-align: center;
			}
		}
	}
	// Adding spacing for footer
	footer {
		margin-top: 60px;
	}
}